:root {
    --body-bg: crimson;
    --hamburger-bg: crimson;
}
.body {
    height: 100%
}
.body {
    background: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
